{% extends "base.html.twig" %}

{% block title %}Recettes{% endblock %}


{% block body %}

<div class="card m-5" style="width: 100">
  <div class="card-body">
    <h5 class="card-title">Bienvenue sur Recettes</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    <a href="#" class="btn btn-primary">Inscription</a>
  </div>
</div>

{% endblock %}